.title-index{
    z-index: 1000;
    color: #fff;
}


.content{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 15px;
    &__title{
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 15px;
    }
    &__table-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.title{
    &__text{
        font-size: 24px;
        display: flex;
        flex-direction: row;
        align-self: center;
        margin-right: 15px;
    }
}

.button{
    display: block;
    padding: 2px;
    width: 135px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    background-color: #25BD74;
    border-radius: 2px;
    &:hover{
        cursor: pointer;
    }
}

.disable{
    height: 2px !important;
    background-color: #7f7f80 !important;
}

.table-wrapper{
    &__table{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button{
        margin-top: 15px;
        width: 135px;
        height: 35px;
        background-color: #25BD74;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        font-size: 14px;
        line-height: 32px;
        &:hover{
            cursor: pointer;
        }
    }
}

.center{
    vertical-align: middle;
    text-align: center;
}

.table{
    &__input-place{
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 24px;
        & input{
            width: 70px;
            height: 24px;
            background-color: #d9d9d9;
            border-radius: 15px;
            text-align: center;
            border: #d9d9d9 solid 2px;
            &:focus{
                background-color: #f6f6f6;
            }
        }

    }
    &__total{
        width: 70px;
        height: 24px;
        background-color: #B5183E;
        border-radius: 15px;
        text-align: center;
        border: #B5183E solid 2px;
    }
    &__output{
        width: 70px;
        height: 24px;
        background-color: #7f7f80;
        border-radius: 15px;
        text-align: center;
        border: #7f7f80 solid 2px;
        line-height: 20px;
        color: #fff;
    }
    &__title-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__title{
        margin-right: 10px;
    }
}