.black{
    input{
        color: #000 !important;
    }
    td{
        background-color: #fff;
    }
    th{
        background-color: #fff;
    }
    width: 100%;
    height: 101%;
    display: none;
    position: fixed;
    top: -4%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba($color: #000000, $alpha: 0.7);
}
.show{
    display: block !important;
}

.iteration-title{
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.iteration-table{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    &__border{
        background-color: #fff;
        border: 20px solid #fff;
        border-radius: 15px;
    }
}

.table-mobile{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.table__title{
    margin: 0;
}

.save-button{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}

@media (max-width: 991.98px){
    .iteration-table{
        &__border{
            width: 660px !important;
        }
    }
}