.prompt-wrapper{
    position: absolute;
    display: none;
    z-index: 1000;
    left: 250px;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgba($color: #000000, $alpha: 0.65);
    z-index: 1000;
    &__content{
        display: flex;
        width: 100%;
        min-height: 100%;
        position: relative;
    }
}

.content{
    &__close{
        position: absolute;
        bottom: 200px;
        left: 50%;
        transform: translateX(-50%);
        width: 350px;
        height: 115px;
        background: #9da7fc;
        border-radius: 40px;
        font-size: 36px;
        line-height: 100px;
        text-align: center;
        &:hover{
            cursor: pointer;
        }
    }
    &__prompt{
        display: none;
        position: relative;
    }
}

.prompt{
    &__arrow{
        width: 80px;
        height: 80px;
        background: url('../Images/Prompts/arrow.svg')0 0 /100% 100% no-repeat;
        transform: rotate(-30deg);
    }
    &__body{
        padding: 15px 4px 10px 4px;
        position: absolute;
        left: 100px;
        top: -20px;
        width: 360px;
        height: 125px;
        background: #02bc77;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        border-radius: 100px;
    }
}

.prompt-first{
}

.prompt-second{
}

.show-prompt{
    display: flex;
    z-index: 1000;
}

@media (max-width: 1200px) {
    
}
