.red{
    background-color: #B5183E;
    border: #B5183E 2px solid;
}
.green{
    background-color: #25BD74;
    border: #25BD74 2px solid;
}
.yellow{
    background-color: #F5C519;
    border: #F5C519 2px solid;
}
.gray{
    background-color: #7f7f80;
    border: #7f7f80 2px solid;
}

.err{
    margin-top: 20px;
    min-width: 240px;
    padding: 25px 30px;
    line-height: 16px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;
    height: fit-content;
    color: #fff;
    background-color: #B5183E;
    border-radius: 20px;
}

.err-hide{
    display: none;
}