.red{
    background-color: #B5183E;
    border: #B5183E 2px solid;
}
.green{
    background-color: #25BD74;
    border: #25BD74 2px solid;
}
.yellow{
    background-color: #F5C519;
    border: #F5C519 2px solid;
}
.gray{
    background-color: gray;
    border: #7f7f80 2px solid;
}