.table{
    &__total{
        line-height: 20px;
        color: #fff;
    }
}

.advise{
    margin-top: 20px;
    position: absolute;
    left: 50%;
    padding: 25px 30px;
    transform: translateX(-50%);
    line-height: 16px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;
    height: fit-content;
    color: #fff;
    background-color: #25BD74;
    border-radius: 50px;
}

.advise-hide{
    display: none;
}